
body{

   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   background-color: #f7f7f7;
   min-width: 320px;
}
.container-fluid{
	background-color: #F46A6A ;
	padding: 20px;
}
.formBackground{
	background-color: #FFF0A3;
}

/*top buttons menu*/
.light_ca{
	padding: 12px;
	color: #eee;
	background-color: #202020;
}
.light_ca:hover{
	text-decoration: none;
	color: #42DCA3;
	background-color: #000;
}
#cablog:hover{
	color: #D46A6A;
}
/*end top buttons menu*/