
body{

   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   background-color: #f7f7f7;
   min-width: 320px;
}
.container-fluid{
	background-color: #F46A6A ;
	padding: 20px;
}
.formBackground{
	background-color: #FFF0A3;
}